<h2>Timetable </h2>
<div>
  <mat-spinner *ngIf="loading"></mat-spinner>
    <mat-card *ngIf="!loading" class="full-height" class="card">
        <!-- make a form for creating users  -->
        <form [formGroup]="timetableForm" (ngSubmit)="submit()">
          <div class="container">
            <mat-form-field>
              <input matInput formControlName="class" name="name" placeholder="Class Name" required/>
            </mat-form-field>
            <br>
            <mat-form-field>
              <input matInput formControlName="url" type="url" name="url" placeholder="URL for Timetable" required/>
            </mat-form-field>
            <br />
          </div>
          <button mat-raised-button color="primary">Add Timetable</button>
        </form>
      </mat-card>
</div>

<div id="list-wrapper">
  <mat-list>
      <h3 mat-subheader>All Timetables</h3>
      <mat-list-item *ngFor="let timetable of timetables; let i=index">
        <h4 mat-line> {{timetable.class}} </h4>
        <p mat-line>URL:  {{timetable.url}}</p>
        <button mat-icon-button (click)="openLink(i)">
            <mat-icon>link</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteTimetable(i)">
            <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
</div>

